{% extends "movies/base.html" %}

{% block title %}Confirmar Eliminación{% endblock %}

{% block content %}
    <div class="card shadow-sm mx-auto bg-dark border-secondary mt-5" style="max-width: 500px;">
        <div class="card-header bg-danger text-white">
            Confirmar Eliminación
        </div>
        
        <div class="card-body bg-dark text-white">
            
            <p class="lead text-white">
                ¿Estás seguro de que deseas eliminar la película 
                <strong class="text-warning">"{{ object.title }}"</strong> de tu colección?
            </p>

            <form method="POST" class="mt-4 d-flex justify-content-end">
                {% csrf_token %}
                <button type="submit" class="btn btn-danger me-2">Sí, Eliminar</button>
                <a href="{% url 'detail_movie' object.pk %}" class="btn btn-secondary">Cancelar</a>
            </form>
        </div>
    </div>
{% endblock content %}