{% extends "movies/base.html" %}
{% load static %}
{% load custom_filters %} 

{% block title %}Mi Colección{% endblock %}

{% block content %}

    <h1 class="text-white mb-4 mt-2">Mi Colección Guardada</h1>
    
    {% if movies %}
        <div class="row row-cols-2 row-cols-md-4 row-cols-lg-5 g-3 g-lg-4 mb-5">
            {% for movie in movies %}
                {% include 'movies/_movie_card.html' with movie=movie is_local_collection=True %}
            {% endfor %}
        </div>
    {% else %}
        <div class="alert alert-info bg-dark-alert">
            Aún no tienes películas en tu colección. ¡Explora las películas populares en la página de inicio!
        </div>
    {% endif %}  
{% endblock content %}